<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Trang chủ</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Anton&family=Bangers&family=Dongle:wght@300;400;700&family=Inconsolata:wght@300;400&family=Inter&family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Lobster&family=Luxurious+Roman&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mouse+Memoirs&family=Neonderthaw&family=Nunito:wght@200;300&family=Open+Sans:wght@300&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,900;1,400;1,500;1,600;1,800;1,900&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="../../../../resources/css/tailwind.css" />
  <link rel="stylesheet" href="../../../../resources/css/admin.css" />
  <style>
    .pb-full {
      padding-bottom: 100%;
    }

    .bioclass {
      color: #8E8E8E;
    }

    /* hide search icon on search focus */
    .search-bar:focus+.fa-search {
      display: none;
    }

    @media screen and (min-width: 768px) {
      .post:hover .overlay {
        display: block;
      }
    }
  </style>
</head>

<body>
  <div id="wrapper" class="bg-indigo-800 font-montserrat">
    <div class="flex gap-5 max-w-screen-2xl min-w-[320px] h-full lg:p-5 mx-auto">
      <aside class="sidebar overflow-y-auto w-[85px] hidden__scrollbar hidden lg:block md:py-2">
        <!-- menu pc -->
        <nav class="w-full sidebar__pc">
          <ul class="flex flex-col items-center justify-center h-full gap-5 p-4 rounded-xl glassmorphism">
            <li>
              <div class="w-16 h-auto mx-auto logo">
                <img data-tilt data-tilt-scale="1.1" src="../../../../resources/images/logo.png" alt="logo"
                  class="w-full logo-img" />
              </div>
            </li>
            <li class="flex items-center rounded-xl">
              <img data-tilt data-tilt-scale="1.1" class="w-9 h-9 menu-btn"
                src="../../../../resources/images/home-icon.png" alt="" />
            </li>
            <li class="flex items-center">
              <img data-tilt data-tilt-scale="1.1" class="w-7 h-7" src="../../../../resources/images/trending-icon.png"
                alt="" />
            </li>

            <li class="flex items-center">
              <img data-tilt data-tilt-scale="1.1" class="w-9 h-9" src="../../../../resources/images/post-icon.png"
                alt="" />
            </li>
            <li class="flex items-center">
              <img data-tilt data-tilt-scale="1.1" class="w-9 h-9" src="../../../../resources/images/account-icon.png"
                alt="" />
            </li>
            <li class="flex items-center">
              <img data-tilt data-tilt-scale="1.1" class="w-9 h-9" src="../../../../resources/images/user-icon.png"
                alt="" />
            </li>
            <li class="flex items-center">
              <img data-tilt data-tilt-scale="1.1" class="w-8 h-8" src="../../../../resources/images/contact-icon.png"
                alt="" />
            </li>
            <li class="flex items-center">
              <img data-tilt data-tilt-scale="1.1" class="w-9 h-9"
                src="../../../../resources/images/statistical-icon.png" alt="" />
            </li>
            <li class="flex items-center">
              <img data-tilt data-tilt-scale="1.1" class="w-9 h-9" src="../../../../resources/images/ads-icon.png"
                alt="" />
            </li>
            <li class="flex items-center">
              <img data-tilt data-tilt-scale="1.1" class="w-9 h-9" src="../../../../resources/images/setting-icon.png"
                alt="" />
            </li>
          </ul>
        </nav>
      </aside>
      <article class="flex flex-col w-full gap-2 lg:rounded-3xl">
        <header class="w-full flex justify-between items-center border-b-2 p-2 sm:px-5 sm:py-3 rounded-xl">
          <!-- -------------------btn menu mobile--------------------------- -->
          <div class="relative btn-menu-mobile lg:hidden">
            <img data-tilt data-tilt-scale="1.1" src="../../../../resources/images/menu-mobile-icon.png" alt=""
              class="w-6 h-6" />
            <!-- ----------------------------list-menu mobile--------------------------- -->
            <nav
              class="z-50 menu-mobile max-h-[400px] overflow-y-auto hidden__scrollbar hidden animate-down w-[190px] rounded-xl p-5 absolute border claymorphism-white">
              <div class="w-20 h-auto mx-auto mb-3 logo">
                <img src="../../../../resources/images/logo.png" alt="logo" class="w-full logo-img" />
              </div>
              <ul class="flex flex-col gap-4 z-1000">
                <li class="flex gap-3 items-center">
                  <img class="w-7 h-7" src="../../../../resources/images/home-icon.png" alt="" />
                  <a href="#" class="text-xs font-semibold text-gray-900 whitespace-nowrap">Trang chủ</a>
                </li>
                <li class="flex gap-3 items-center">
                  <img class="w-7 h-6" src="../../../../resources/images/trending-icon.png" alt="" />
                  <a href="#" class="text-xs font-medium text-gray-700 whitespace-nowrap">Xu hướng</a>
                </li>

                <li class="flex gap-3 items-center">
                  <img class="w-7 h-7" src="../../../../resources/images/post-icon.png" alt="" />
                  <a href="#" class="text-xs font-medium text-gray-700 whitespace-nowrap">Bài đăng</a>
                </li>
                <li class="flex gap-3 items-center">
                  <img class="w-7 h-7" src="../../../../resources/images/account-icon.png" alt="" />
                  <a href="#" class="text-xs font-medium text-gray-700 whitespace-nowrap">Tài khoản</a>
                </li>
                <li class="flex gap-3 items-center">
                  <img class="w-7 h-7" src="../../../../resources/images/user-icon.png" alt="" />
                  <a href="#" class="text-xs font-medium text-gray-700 whitespace-nowrap">Người dùng</a>
                </li>
                <li class="flex gap-3 items-center">
                  <img class="w-7 h-7" src="../../../../resources/images/contact-icon.png" alt="" />

                  <a href="#" class="text-xs font-medium text-gray-700 whitespace-nowrap">Phản hồi</a>
                </li>
                <li class="flex gap-3 items-center">
                  <img class="w-7 h-7" src="../../../../resources/images/statistical-icon.png" alt="" />

                  <a href="#" class="text-xs font-medium text-gray-700 whitespace-nowrap">Thống kê</a>
                </li>
                <li class="flex gap-3 items-center">
                  <img class="w-7 h-7" src="../../../../resources/images/ads-icon.png" alt="" />
                  <a href="#" class="text-xs font-medium text-gray-700 whitespace-nowrap">Quảng cáo</a>
                </li>
                <li class="flex gap-3 items-center">
                  <img class="w-7 h-7" src="../../../../resources/images/setting-icon.png" alt="" />
                  <a href="#" class="text-xs font-medium text-gray-700 whitespace-nowrap">Cài đặt</a>
                </li>
              </ul>
            </nav>
          </div>
          <section class="hidden search__box sm:block">
            <form action="" method="post" class="search__form">
              <div class="flex items-center gap-2 form-group">
                <input type="text" name="search" value="" placeholder="Tìm kiếm..." required
                  class="px-2 py-1 rounded-md outline-none bg-white" />
                <button type="submit" class="search__btn">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="p-1 text-gray-200 bg-indigo-500 rounded-lg w-9 h-9 glass__shadow">
                    <path stroke-linecap="round" stroke-linejoin="round"
                      d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                  </svg>
                </button>
              </div>
            </form>
          </section>
          <section class="opiton__header">
            <ul class="flex items-center gap-3">
              <li class="relative message">
                <button type="button" class="btn-messages">
                  <img src="../../../../resources/images/chat-btn.png" alt="" class="w-7" />
                </button>
                <span
                  class="absolute top-0 right-0 inline-block w-4 h-4 text-xs font-medium text-center text-white transform translate-x-1 -translate-y-1 bg-red-600 border-2 border-none rounded-full">
                  9
                </span>
                <!-- --------------message dropdown------------------- -->
                <div style="max-height: 400px"
                  class="absolute z-50 right-0 hidden w-64 px-3 pt-3 overflow-y-auto border claymorphism-white rounded-lg dropdown-messages">
                  <h2 class="mb-4 text-xs sm:text-sm font-semibold text-gray-700">
                    Tin nhắn
                  </h2>
                  <div class="flex flex-col gap-2 mb-2 list__message">
                    <!-- -------------------messages-------------------- -->
                    <div class="flex gap-3 relative list__message-item hover:bg-gray-100 p-1 rounded-md">
                      <!-- -------------btn delete message---------------- -->
                      <div class="absolute top-0 right-0">
                        <div class="relative" data-te-dropdown-position="dropstart">
                          <button class="rounded-full motion-reduce:transition-none" type="button"
                            data-te-dropdown-toggle-ref aria-expanded="false" data-te-ripple-init>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                              stroke="currentColor" class="w-6 h-6 p-1 text-gray-400 rounded-full hover:bg-gray-200">
                              <path stroke-linecap="round" stroke-linejoin="round"
                                d="M6.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM12.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM18.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
                            </svg>
                          </button>
                          <ul
                            class="options__notification-box absolute z-[1000] float-left m-0 hidden min-w-max list-none overflow-hidden rounded-md border-none bg-gray-200 bg-clip-padding text-left text-xs shadow-lg [&[data-te-dropdown-show]]:block"
                            data-te-dropdown-menu-ref>
                            <li>
                              <a class="flex items-center w-full gap-2 px-4 py-2 text-xs font-normal whitespace-nowrap text-neutral-700 active:text-neutral-800 active:no-underline disabled:pointer-events-none disabled:bg-transparent claymorphism-white border hover:bg-gray-200"
                                href="#" data-te-dropdown-item-ref>Xóa cuộc trò chuyện
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                  stroke-width="1.5" stroke="currentColor" class="w-4 h-4 text-gray-400">
                                  <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                                </svg>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <img class="object-cover rounded-full avatar-notification min-w-10 max-w-10 min-h-10 max-h-10"
                        src="../../../../resources/images/default-avatar.jpg" alt="" />
                      <div class="message__content">
                        <a href="{{ route('detail-user/' . $notification->user_id) }}"
                          class="text-sm font-normal text-gray-700">
                          Lê Văn A
                        </a>
                        <div class="flex items-center gap-1">
                          <p class="message max-w-[120px] truncate text-xs text-gray-700">
                            Alo bạn, mình có thể hỏi một câu hỏi không?
                          </p>
                          <span class="text-xs text-gray-400">3 phút</span>
                        </div>
                      </div>
                    </div>
                    <!-- ---------------------end message--------------------------------- -->
                    <a href="#" class="pt-2 text-xs font-medium text-center text-indigo-500 border-t">Xem tất cả tin
                      nhắn</a>
                  </div>
                </div>
              </li>
              <!-- ----------------------------btn notification------------------------ -->
              <li class="relative notification">
                <div href="#" class="btn-notification">
                  <img src="../../../../resources/images/bell-icon.png" alt="" class="w-10" />
                </div>
                <span
                  class="absolute inline-block w-4 h-4 text-xs font-medium text-center text-white transform translate-x-1 -translate-y-1 bg-red-600 border-2 border-none rounded-full top-1 right-2">
                  9
                </span>
                <!-- ----------------------List notification ------------------------>
                <div style="max-height: 400px"
                  class="absolute z-50 right-0 hidden w-64 p-3 overflow-y-auto border bg-white shadow-lg rounded-lg dropdown-notification">
                  <h2 class="mb-4 text-xs sm:text-sm font-semibold text-gray-700">
                    Thông báo
                  </h2>
                  <div class="flex flex-col gap-3 list__notification">
                    <div
                      class="relative flex justify-between gap-3 list__notification-item p-1 hover:bg-gray-100 rounded-md cursor-pointer">
                      <div class="absolute top-0 right-0 flex justify-center options__notification-btn">
                        <div class="relative" data-te-dropdown-position="dropstart">
                          <button class="rounded-full motion-reduce:transition-none" type="button"
                            data-te-dropdown-toggle-ref aria-expanded="false" data-te-ripple-init>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                              stroke="currentColor" class="w-6 h-6 p-1 text-gray-400 rounded-full hover:bg-gray-200">
                              <path stroke-linecap="round" stroke-linejoin="round"
                                d="M6.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM12.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM18.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
                            </svg>
                          </button>
                          <ul
                            class="options__notification-box absolute z-[1000] float-left m-0 hidden min-w-max list-none overflow-hidden rounded-md border-none bg-gray-200 bg-clip-padding text-left text-xs shadow-lg [&[data-te-dropdown-show]]:block"
                            data-te-dropdown-menu-ref>
                            <li>
                              <a class="flex items-center w-full gap-2 px-4 py-2 text-xs font-normal border claymorphism-white hover:bg-gray-200 whitespace-nowrap text-neutral-700 active:text-neutral-800 active:no-underline disabled:pointer-events-none disabled:bg-transparent"
                                href="#" data-te-dropdown-item-ref>Xóa thông báo
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                  stroke-width="1.5" stroke="currentColor" class="w-4 h-4 text-gray-400">
                                  <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                                </svg>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <img class="object-cover min-w-10 max-w-10 min-h-10 max-h-10 rounded-full avatar-notification"
                        src="../../../../resources/images/default-avatar.jpg" alt="" />
                      <div class="notification__content">
                        <a href="{{ route('detail-user/' . $notification->user_id) }}"
                          class="text-sm font-semibold text-gray-700">
                          Lê Văn A
                        </a>
                        <p class="text-xs text-gray-700">
                          Lê Văn A đã thích bài viết của bạn
                        </p>
                        <p class="text-xs text-gray-400">9 giờ trước</p>
                      </div>
                      <!-- ------------------------------------------------------ -->
                    </div>
                    <!-- ------------------------------------------------------ -->
                  </div>
                </div>
              </li>
              <!-- -----------------btn account header----------------- -->
              <li class="relative account">
                <div class="w-7 btn-account">
                  <img src="../../../../resources/images/default-avatar.jpg" alt=""
                    class="w-full rounded-full avatar__account" />
                </div>
                <div
                  class="z-50 absolute right-0 hidden p-4 mt-2 bg-white border shadow-lg rounded-lg dropdown-account">
                  <ul class="flex flex-col gap-2 list-option">
                    <li class="flex items-center gap-3 mb-2">
                      <div class="w-7 account-btn">
                        <img src="../../../../resources/images/default-avatar.jpg" alt="" class="w-full rounded-full" />
                      </div>
                      <a href="#" class="text-sm font-semibold text-gray-600">Lê Công Tiến</a>
                    </li>
                    <li class="flex items-center gap-2">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="p-1 text-gray-500 bg-gray-200 rounded-full w-7 h-7">
                        <path stroke-linecap="round" stroke-linejoin="round"
                          d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
                      </svg>
                      <a href="#" class="text-xs sm:text-sm font-normal text-gray-500 whitespace-nowrap">Trang cá
                        nhân</a>
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-4 h-4 text-gray-500">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
                      </svg>
                    </li>
                    <li class="flex items-center gap-2">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="p-1 text-gray-500 bg-gray-200 rounded-full w-7 h-7">
                        <path stroke-linecap="round" stroke-linejoin="round"
                          d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15m3 0l3-3m0 0l-3-3m3 3H9" />
                      </svg>
                      <a href="#" class="text-xs sm:text-sm font-normal text-gray-500 whitespace-nowrap">Đăng xuất</a>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </section>
        </header>
        <main class="w-full h-full bg-white  overflow-y-auto p-2 sm:p-5 rounded-2xl hidden__scrollbar">
          <!-- ------------------------wrapper title & fill  -->
          <div class="lg:w-8/12 lg:mx-auto mb-8">
            <header class="flex flex-wrap items-center p-4 md:py-8">
              <div class="md:w-3/12 md:ml-16">
                <!-- avatar -->
                <img class="w-20 h-20 md:w-40 md:h-40  object-cover rounded-full
                             border-2 border-pink-600 p-1" src="https://www.bytewebster.com/img/logo.png"
                  alt="profile">
              </div>

              <!-- profile meta -->
              <div class="w-8/12 md:w-7/12 ml-4">
                <div class="md:flex md:flex-wrap md:items-center mb-4">
                  <h2
                    class="fullname text-xl sm:text-2xl md:text-3xl text-gray-900 inline-block font-light md:mr-2 mb-2 sm:mb-0 whitespace-nowrap">
                    Lê Công Tiến
                  </h2>

                  <!-- icon tick -->
                  <span class="inline-block fas fa-certificate fa-lg text-blue-500 
                                       relative mr-6  text-xl transform -translate-y-2" aria-hidden="true">
                    <i class="fas fa-check text-white text-xs absolute inset-x-0
                                       ml-1 mt-px"></i>
                  </span>

                  <!-- follow button -->
                  <a href="#" class="bg-blue-500 px-2 py-1 
                                text-white font-semibold text-sm rounded block text-center 
                                sm:inline-block">Theo dõi</a>
                </div>

                <!-- post, following, followers list for medium screens -->
                <ul class="hidden md:flex space-x-8 mb-4 text-gray-900 whitespace-nowrap">
                  <li>
                    <span class="font-semibold">6</span>
                    Bài viết
                  </li>

                  <li>
                    <span class="font-semibold">50.5k</span>
                    Người theo dõi
                  </li>
                  <li>
                    <span class="font-semibold">10</span>
                    Đang theo dõi
                  </li>
                </ul>

                <!-- user meta form medium screens -->
                <div class="hidden md:block text-gray-900">
                  <h1 class="username font-semibold">congtiendev</h1>
                  <span class="job">Internet company</span>
                  <p class="bio">Sống là để code, code là để sống🌍</p>
                  <span class="website"><strong>www.bytewebster.com</strong></span>
                </div>

              </div>

              <!-- user meta form mobile screens -->
              <div class="md:hidden text-sm my-2 text-gray-900">
                <h1 class="username font-semibold">congtiendev</h1>
                <span class="job">Internet company</span>
                <p class="bio">Sống là để code, code là để sống🌍</p>
                <span class="website"><strong>www.bytewebster.com</strong></span>
              </div>

            </header>

            <!-- posts -->
            <div class="px-px md:px-3">
              <!-- user following for mobile only -->
              <ul class="flex md:hidden justify-around space-x-8 border-t 
                        text-center p-2 text-gray-600 leading-snug text-sm">
                <li>
                  <span class="font-semibold text-gray-800 block">6</span>
                  Bài viết
                </li>

                <li>
                  <span class="font-semibold text-gray-800 block">50.5k</span>
                  Người theo dõi
                </li>
                <li>
                  <span class="font-semibold text-gray-800 block">10</span>
                  Đang theo dõi
                </li>
              </ul>
              <br>
              <br>
              <!-- insta freatures -->
              <ul class="flex items-center justify-around md:justify-center space-x-12  
                            uppercase tracking-widest font-semibold text-xs text-gray-600
                            border-t">
                <!-- posts tab is active -->
                <li class="md:border-t md:border-gray-700 md:-mt-px md:text-gray-700">
                  <a class="p-3 flex gap-2 items-center" href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                      stroke="currentColor" class="w-6 h-6">
                      <path stroke-linecap="round" stroke-linejoin="round"
                        d="M12 7.5h1.5m-1.5 3h1.5m-7.5 3h7.5m-7.5 3h7.5m3-9h3.375c.621 0 1.125.504 1.125 1.125V18a2.25 2.25 0 01-2.25 2.25M16.5 7.5V18a2.25 2.25 0 002.25 2.25M16.5 7.5V4.875c0-.621-.504-1.125-1.125-1.125H4.125C3.504 3.75 3 4.254 3 4.875V18a2.25 2.25 0 002.25 2.25h13.5M6 7.5h3v3H6v-3z" />
                    </svg>
                    <span class="hidden md:inline">Bài đăng</span>
                  </a>
                </li>
                <li>
                  <a class="p-3 flex gap-2 items-center" href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                      stroke="currentColor" class="w-6 h-6">
                      <path stroke-linecap="round" stroke-linejoin="round"
                        d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0111.186 0z" />
                    </svg>
                    <span class="hidden md:inline">Đã lưu</span>
                  </a>
                </li>
                <li>
                  <a class="p-3 flex gap-2 items-center" href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                      stroke="currentColor" class="w-6 h-6">
                      <path stroke-linecap="round" stroke-linejoin="round"
                        d="M5.25 8.25h15m-16.5 7.5h15m-1.8-13.5l-3.9 19.5m-2.1-19.5l-3.9 19.5" />
                    </svg>
                    <span class="hidden md:inline">Được gắn thẻ</span>
                  </a>
                </li>
              </ul>
              <!-- flexbox grid -->
              <div class="flex flex-wrap -mx-px md:-mx-3">

                <!-- column -->
                <div class="w-1/3 p-px md:px-3">
                  <!-- post 1-->
                  <a href="#">
                    <article class="post bg-gray-100 text-white relative pb-full md:mb-6">
                      <!-- post images-->
                      <img class="w-full h-full absolute left-0 top-0 object-cover"
                        src="../../../../resources/images/avatars/avatar-1.jpg" alt="image">

                      <i class="fas fa-square absolute right-0 top-0 m-1"></i>
                      <!-- overlay-->
                      <div class="overlay bg-gray-800 bg-opacity-25 w-full h-full absolute 
                                        left-0 top-0 hidden">
                        <div class="flex justify-center items-center 
                                            space-x-4 h-full">
                          <span class="p-2 flex items-center gap-2">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                              stroke="currentColor" class="w-6 h-6">
                              <path stroke-linecap="round" stroke-linejoin="round"
                                d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z" />
                            </svg>

                            412K
                          </span>

                          <span class="p-2 flex items-center gap-2">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                              stroke="currentColor" class="w-6 h-6">
                              <path stroke-linecap="round" stroke-linejoin="round"
                                d="M12 20.25c4.97 0 9-3.694 9-8.25s-4.03-8.25-9-8.25S3 7.444 3 12c0 2.104.859 4.023 2.273 5.48.432.447.74 1.04.586 1.641a4.483 4.483 0 01-.923 1.785A5.969 5.969 0 006 21c1.282 0 2.47-.402 3.445-1.087.81.22 1.668.337 2.555.337z" />
                            </svg>
                            2,909
                          </span>
                        </div>
                      </div>

                    </article>
                  </a>
                </div>

                <div class="w-1/3 p-px md:px-3">
                  <a href="#">
                    <!-- post 2 -->
                    <article class="post bg-gray-100 text-white relative pb-full md:mb-6">
                      <img class="w-full h-full absolute left-0 top-0 object-cover"
                        src="../../../../resources/images/avatars/avatar-1.jpg" alt="image">

                      <!-- overlay-->
                      <div class="overlay bg-gray-800 bg-opacity-25 w-full h-full absolute 
                                        left-0 top-0 hidden">
                        <div class="flex justify-center items-center 
                                            space-x-4 h-full">
                          <span class="p-2 flex items-center gap-2">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                              stroke="currentColor" class="w-6 h-6">
                              <path stroke-linecap="round" stroke-linejoin="round"
                                d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z" />
                            </svg>

                            412K
                          </span>

                          <span class="p-2 flex items-center gap-2">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                              stroke="currentColor" class="w-6 h-6">
                              <path stroke-linecap="round" stroke-linejoin="round"
                                d="M12 20.25c4.97 0 9-3.694 9-8.25s-4.03-8.25-9-8.25S3 7.444 3 12c0 2.104.859 4.023 2.273 5.48.432.447.74 1.04.586 1.641a4.483 4.483 0 01-.923 1.785A5.969 5.969 0 006 21c1.282 0 2.47-.402 3.445-1.087.81.22 1.668.337 2.555.337z" />
                            </svg>
                            1,993
                          </span>
                        </div>
                      </div>

                    </article>
                  </a>
                </div>

                <div class="w-1/3 p-px md:px-3">
                  <a href="#">
                    <article class="post bg-gray-100 text-white relative pb-full  md:mb-6">
                      <img class="w-full h-full absolute left-0 top-0 object-cover"
                        src="../../../../resources/images/avatars/avatar-1.jpg" alt="image">
                      <!-- overlay-->
                      <div class="overlay bg-gray-800 bg-opacity-25 w-full h-full absolute 
                                        left-0 top-0 hidden">
                        <div class="flex justify-center items-center 
                                            space-x-4 h-full">
                          <span class="p-2 flex items-center gap-2">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                              stroke="currentColor" class="w-6 h-6">
                              <path stroke-linecap="round" stroke-linejoin="round"
                                d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z" />
                            </svg>

                            112K
                          </span>

                          <span class="p-2 flex items-center gap-2">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                              stroke="currentColor" class="w-6 h-6">
                              <path stroke-linecap="round" stroke-linejoin="round"
                                d="M12 20.25c4.97 0 9-3.694 9-8.25s-4.03-8.25-9-8.25S3 7.444 3 12c0 2.104.859 4.023 2.273 5.48.432.447.74 1.04.586 1.641a4.483 4.483 0 01-.923 1.785A5.969 5.969 0 006 21c1.282 0 2.47-.402 3.445-1.087.81.22 1.668.337 2.555.337z" />
                            </svg>
                            2,090
                          </span>
                        </div>
                      </div>
                    </article>
                  </a>
                </div>

                <div class="w-1/3 p-px md:px-3">
                  <a href="#">
                    <article class="post bg-gray-100 text-white relative pb-full md:mb-6">
                      <img class="w-full h-full absolute left-0 top-0 object-cover"
                        src="../../../../resources/images/avatars/avatar-1.jpg" alt="image">

                      <i class="fas fa-video absolute right-0 top-0 m-1"></i>

                      <!-- overlay-->
                      <div class="overlay bg-gray-800 bg-opacity-25 w-full h-full absolute 
                                        left-0 top-0 hidden">
                        <div class="flex justify-center items-center 
                                            space-x-4 h-full">
                          <span class="p-2 flex items-center gap-2">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                              stroke="currentColor" class="w-6 h-6">
                              <path stroke-linecap="round" stroke-linejoin="round"
                                d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z" />
                            </svg>

                            841K
                          </span>

                          <span class="p-2 flex items-center gap-2">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                              stroke="currentColor" class="w-6 h-6">
                              <path stroke-linecap="round" stroke-linejoin="round"
                                d="M12 20.25c4.97 0 9-3.694 9-8.25s-4.03-8.25-9-8.25S3 7.444 3 12c0 2.104.859 4.023 2.273 5.48.432.447.74 1.04.586 1.641a4.483 4.483 0 01-.923 1.785A5.969 5.969 0 006 21c1.282 0 2.47-.402 3.445-1.087.81.22 1.668.337 2.555.337z" />
                            </svg>
                            909
                          </span>
                        </div>
                      </div>

                    </article>
                  </a>
                </div>

                <div class="w-1/3 p-px md:px-3">
                  <a href="#">
                    <article class="post bg-gray-100 text-white relative pb-full md:mb-6">
                      <img class="w-full h-full absolute left-0 top-0 object-cover"
                        src="../../../../resources/images/avatars/avatar-1.jpg" alt="image">
                      <!-- overlay-->
                      <div class="overlay bg-gray-800 bg-opacity-25 w-full h-full absolute 
                                        left-0 top-0 hidden">
                        <div class="flex justify-center items-center 
                                            space-x-4 h-full">
                          <span class="p-2 flex items-center gap-2">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                              stroke="currentColor" class="w-6 h-6">
                              <path stroke-linecap="round" stroke-linejoin="round"
                                d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z" />
                            </svg>

                            120K
                          </span>

                          <span class="p-2 flex items-center gap-2">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                              stroke="currentColor" class="w-6 h-6">
                              <path stroke-linecap="round" stroke-linejoin="round"
                                d="M12 20.25c4.97 0 9-3.694 9-8.25s-4.03-8.25-9-8.25S3 7.444 3 12c0 2.104.859 4.023 2.273 5.48.432.447.74 1.04.586 1.641a4.483 4.483 0 01-.923 1.785A5.969 5.969 0 006 21c1.282 0 2.47-.402 3.445-1.087.81.22 1.668.337 2.555.337z" />
                            </svg>
                            3,909
                          </span>
                        </div>
                      </div>

                    </article>
                  </a>
                </div>

                <div class="w-1/3 p-px md:px-3">
                  <a href="#">
                    <article class="post bg-gray-100 text-white relative pb-full md:mb-6">
                      <img class="w-full h-full absolute left-0 top-0 object-cover"
                        src="../../../../resources/images/avatars/avatar-1.jpg" alt="image">
                      <!-- overlay-->
                      <div class="overlay bg-gray-800 bg-opacity-25 w-full h-full absolute 
                                        left-0 top-0 hidden">
                        <div class="flex justify-center items-center 
                                            space-x-4 h-full">
                          <span class="p-2 flex items-center gap-2">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                              stroke="currentColor" class="w-6 h-6">
                              <path stroke-linecap="round" stroke-linejoin="round"
                                d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z" />
                            </svg>

                            160K
                          </span>

                          <span class="p-2 flex items-center gap-2">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                              stroke="currentColor" class="w-6 h-6">
                              <path stroke-linecap="round" stroke-linejoin="round"
                                d="M12 20.25c4.97 0 9-3.694 9-8.25s-4.03-8.25-9-8.25S3 7.444 3 12c0 2.104.859 4.023 2.273 5.48.432.447.74 1.04.586 1.641a4.483 4.483 0 01-.923 1.785A5.969 5.969 0 006 21c1.282 0 2.47-.402 3.445-1.087.81.22 1.668.337 2.555.337z" />
                            </svg>
                            5,557
                          </span>
                        </div>
                      </div>

                    </article>
                  </a>
                </div>
              </div>
            </div>
          </div>

        </main>
      </article>
    </div>
  </div>
</body>


</html>