.header__input-search::placeholder {
  color: #ccc;
  font-size: 12px;
}
.input-placeholder::placeholder {
  color: #ccc;
  font-size: 14px;
}
.show {
  display: block;
}
.limited__content-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
.limited__content-3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}
.limited__content-4 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis;
}
.hidden__scrollbar::-webkit-scrollbar {
  display: none;
}
.claymorphism-white {
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 35px 35px 68px 0px rgba(221, 229, 239, 0.5),
    inset -8px -8px 16px 0px rgba(221, 229, 239, 0.6),
    inset 0px 11px 28px 0px rgb(255, 255, 255);
}
.claymorphism-blue {
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 35px 68px 0px rgba(145, 192, 255, 0.5),
    inset 0px -6px 16px 0px rgba(145, 192, 255, 0.6),
    inset 0px 11px 28px 0px rgb(255, 255, 255);
}
.large-font {
  font-size: 1.5rem;
}

.like__post-btn.active,
.save__post-btn.active {
  animation: like_animation 0.5s 1;
  fill: red;
  stroke: none;
}
.like__post-btn,
.save__post-btn {
  transition: all 0.5s;
}

@keyframes like_animation {
  0% {
    transform: scale(1);
  }
  90% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.1);
  }
}
#loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loader-overlay img {
  width: 200px;
}
