.header__input-search::placeholder {
  color: #ccc;
  font-size: 12px;
}

.input-placeholder::placeholder {
  color: #ccc;
  font-size: 14px;
}

.show {
  display: block;
}

.limited__content-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.limited__content-3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}

.limited__content-4 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hidden__scrollbar::-webkit-scrollbar {
  display: none;
}

.claymorphism-white {
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 35px 35px 68px 0px rgba(221, 229, 239, 0.5),
    inset -8px -8px 16px 0px rgba(221, 229, 239, 0.6),
    inset 0px 11px 28px 0px rgb(255, 255, 255);
}

.claymorphism-blue {
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 35px 68px 0px rgba(145, 192, 255, 0.5),
    inset 0px -6px 16px 0px rgba(145, 192, 255, 0.6),
    inset 0px 11px 28px 0px rgb(255, 255, 255);
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.glass__shadow {
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.glassmorphism__dark {
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.like__post-btn.active,
.save__post-btn.active {
  animation: like_animation 0.5s 1;
  fill: red;
  stroke: none;
}

.like__post-btn,
.save__post-btn,
.like__comment-btn {
  transition: all 0.5s ease-in-out;
}

@keyframes like_animation {
  0% {
    transform: scale(1);
  }
  90% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.1);
  }
}

#loading-all,
.loading-create-post {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
}

#loading-all img {
  width: 200px;
}

.loading-create-post {
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 15px;
}

.loading-create-post img {
  width: 100px;
}

@keyframes skeleton-loading-animation {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.dark .skeleton {
  background-color: #374151 !important;
  color: #374151 !important;
  border-radius: 10px;
  padding: 2px;
  animation: skeleton-loading-animation 1s ease-in-out infinite;
}
